In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('preference_info.csv',sep=',')
data.head()

  user_name                                          food_list
0       김수비  된장찌개,어묵,삼결살,돼지갈비,물냉면,양념치킨,닭백숙,닭볶음탕,팔보채,탕수육(부먹)...
1       김승욱  자장면,김치찌개,볶음밥,어묵,대구매운탕,삼겹살,물만두,물냉면,후라이드,양평해장국,순...
2       김원희  자장면,김치찌개,볶음밥,떡볶이,대구매운탕,삼겹살,군만두,물냉면,후라이드,콩나물국밥,...
3    귀여운어린이                      떡볶이,양념치킨,신라면,너구리,짜파게티,비빔면,돈가스
4       최승재  자장면,짬뽕,볶음밥,떡볶이,삼겹살,군만두,물냉면,후라이드,양념치킨,팔보채,탕수육(찍...

In [3]:
data = data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 0 to 39
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_name  39 non-null     object
 1   food_list  39 non-null     object
dtypes: object(2)
memory usage: 936.0+ bytes

In [4]:
data['food_list'] = data['food_list'].str.split(',')
data.head()

  user_name                                          food_list
0       김수비  [된장찌개, 어묵, 삼결살, 돼지갈비, 물냉면, 양념치킨, 닭백숙, 닭볶음탕, 팔보...
1       김승욱  [자장면, 김치찌개, 볶음밥, 어묵, 대구매운탕, 삼겹살, 물만두, 물냉면, 후라이...
2       김원희  [자장면, 김치찌개, 볶음밥, 떡볶이, 대구매운탕, 삼겹살, 군만두, 물냉면, 후라...
3    귀여운어린이              [떡볶이, 양념치킨, 신라면, 너구리, 짜파게티, 비빔면, 돈가스]
4       최승재  [자장면, 짬뽕, 볶음밥, 떡볶이, 삼겹살, 군만두, 물냉면, 후라이드, 양념치킨,...

In [6]:
data.shape

(39, 2)

In [ ]:
# 자카드 유사도
def similarity(list1,list2):
    s1 = set(list1)
    s2 = set(list2)
    return float(len(s1.intersection(s2)) / len(s1.union(s2)))

list1 = ['짜장','크로플','탕수육']
list2 = ['볶음밥', '짜장', '짬뽕']

print("유사도 : ", similarity(list1,list2))